#list {
  list-style-type: none;
}
.copyright {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.media-footer {
  display: flex;
  flex-direction: row;
}
footer {
  background-color: #efeaea;
  height: 180px;
  padding: 20px;
}
