.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Add this to space the button and menu */
  align-items: center; /* Center items vertically */
}

.menu-container {
  /* No need to set position:absolute */
  display: flex;
  flex-direction: column; /* Align menu items vertically */
  align-items: flex-end; /* Align menu items to the right */
}

.menu-overlay {
  /* Adjustments to the overlay */
  width: 80%; /* Set width */
  background-color: orange;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.menu-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list-item {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  width: 50px;
  height: 50px;
}
