.cardSection {
  display: flex;
  flex-direction: column;
}

#cards-h2,
.card-title {
  display: flex;
  justify-content: center;
}
.card-text {
  text-align: center;
  margin-top: 15px;
}

.img {
  align-items: center;
  width: 500px;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .cardSection {
    display: inline-flex;
    justify-content: space-between;
  }
}
